.main {
    background-image: url('../assets/party5.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh; 
    width: 100%;
    padding: 20px 0; 
    position: relative;
    
}


.cart-container {
  
    border-radius: 10px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}
 
 
 

  
  .cart-table th,
  .cart-table td {
    padding: 16px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: rgba(244, 154, 235, 0.7);
  }
  

  

  .cart-table .btn {
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  
  .ts{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color:black;
    background-color: rgba(10, 255, 255, 0.7);  
  }
    
  
  
  @media (min-width: 769px) {
    .cart-container {
      padding: 30px;
    }
  
    .cart-table th,
    .cart-table td {
      font-size: 1.1rem;
      padding: 18px;
    }
  
    .btn {
      font-size: 16px;
      padding: 10px 14px;
    }
  
    .yc {
      font-size: 2.5rem;
    }
  
    .tp {
      font-size: 1.8rem;
    }
  }

  @media (max-width: 768px) {
    .cart-container {
      padding: 15px;
    }
  
    .cart-table th,
    .cart-table td {
      padding: 10px;
      font-size: 14px;
    }
  
    .btn {
      font-size: 12px;
      padding: 6px 10px;
    }
  
    .yc {
      font-size: 1.5rem;
    }
  
    .tp {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .cart-container {
      padding: 10px;
    }
  
    .cart-table th,
    .cart-table td {
      font-size: 12px;
      padding: 8px;
    }
  
    .btn {
      font-size: 10px;
      padding: 4px 8px;
    }
  
    .yc {
      font-size: 1.2rem;
    }
  
    .tp {
      font-size: 1rem;
    }
  }
  