.s1 {
    background-image: url('../assets/d1.jpg');
  }
  
  .s2 {
    background-image: url('../assets/d9.jpg');
  }
  
  .s3 {
    background-image: url('../assets/d6.jpg');
  }
  
  .s4 {
    background-image: url('../assets/d7.jpg');
  }
  
  .s5 {
    background-image: url('../assets/e1.jpg');
  }
  
  .s6 {
    background-image: url('../assets/e5.jpg');
  }
  
  .s7 {
    background-image: url('../assets/e4.jpg');
  }
  
  .s8 {
    background-image: url('../assets/e2.jpg');
  }


